@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?er44z8') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?er44z8') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?er44z8##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-close {
  &:before {
    content: $ic-close; 
  }
}
.ic-menu {
  &:before {
    content: $ic-menu; 
  }
}
.ic-location {
  &:before {
    content: $ic-location; 
  }
}
.ic-email {
  &:before {
    content: $ic-email; 
  }
}
.ic-website {
  &:before {
    content: $ic-website; 
  }
}
.ic-arrow-right {
  &:before {
    content: $ic-arrow-right; 
  }
}
.ic-arrowhead-left {
  &:before {
    content: $ic-arrowhead-left; 
  }
}
.ic-arrowhead-down {
  &:before {
    content: $ic-arrowhead-down; 
  }
}
.ic-instagram {
  &:before {
    content: $ic-instagram; 
  }
}
.ic-facebook {
  &:before {
    content: $ic-facebook; 
  }
}
.ic-phone {
  &:before {
    content: $ic-phone; 
  }
}