/**
 * Site header
 */
* {
  // border: 1px solid red;
}
.site-header {
  height: $spacing-unit * 1.865;
  width: 100%;
  // Positioning context for the mobile navigation icon
  position: fixed;
  // background-color: $background-color;
  z-index: 5555;
  box-sizing: border-box;
  .wrapper {
    box-sizing: border-box;
    text-align: left;
    height: $spacing-unit * 1.865;
    .top-nav {
      width: 100%;
      .right {
        display: block;
        position: absolute;
        background-color: $brand-color;
        font-size: $nav-font-size;
        width: 100%;
        margin-top: $spacing-unit * 1.865;
        margin-left: calc(#{$spacing-unit} / -2);
        margin-right: calc(#{$spacing-unit} / -2);
        @include media(desktop) {
          margin-left: -$spacing-unit;
          margin-right: -$spacing-unit;
          padding-left: $spacing-unit;
          padding-right: $spacing-unit;
        }
        transition: transform 1s;
        box-sizing: border-box;
        @include media(desktop) {
          list-style-position: inside;
          top: 0%;
          right: 0px;
          margin: 0 0 0 ($spacing-unit * -2);
          padding-left: $spacing-unit;
          padding-right: $spacing-unit;
          height: 100%;
          width: unset;
          z-index: 9999;
        }
        > li {
          >a,
          >label {
            color: $background-color;
            text-decoration: none;
            display: inline-block;
            @include media-max(mobile, tablet) {
              box-sizing: border-box;
              height: 100%;
              width: 100%;
              padding: calc(#{$spacing-unit} / 3);
            }
          }

          label {
            @include media-max(mobile, tablet) {
              border-bottom: 0.5px solid #ffffff4f;
            }
          }
          @include media(desktop) {
            -ms-transform: translateY(-50%);
            transform: translateY(-40%);
            display: inline-block;
            margin-top: auto;
            height: 100%;
            margin-bottom: auto;
            border: none;
          }
        }
        li {
          list-style: none;
        }
        .has-dropdown {
          .dropdown {
            background-color: $brand-color;

            font-size: $base-font-size;
            width: 100%;
            box-sizing: border-box;
            @include media(desktop) {
              margin-top: $spacing-unit * 1.865 / 4;
              width: 200px;
              background-color: $background-color;
              box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.11);
            }

            > li {
              @include media(desktop) {
                width: 100%;
              }
              padding-right: 8px;
              padding-left: 8px;
              box-sizing: border-box;
              a {
                color: $background-color;
                @include media(desktop) {
                  color: $brand-color;
                }
                text-decoration: none;
                display: inline-block;
                box-sizing: border-box;
                height: 100%;
                width: 100%;
                padding:calc(#{$spacing-unit} / 3);
              }
              &:hover {
                background-color: #ffffff4f;
              }
            }
            .divider {
              margin: 0px;
              padding: 0px;
              height: 0.5px;
              background-color: #ffffff4f;
            }
            //background-color: $brand-color;

            margin-left: 0px;

            display: none;
            @include media(desktop) {
              position: absolute;
              list-style-position: inside;
            }
          }
          position: relative;
          > input {
            &[type="checkbox"] {
              // float: right;
              top: 12px;
              height: 100%;
              right: $spacing-unit;
              display: inline-block;
              position: absolute;
              @include media(desktop) {
                top: unset;
                right: unset;
                display: inline;
                position: relative;
              }
              //border: 1px solid red;
              -webkit-appearance: none;
              appearance: none;
              &::before {
                font-family: "FontAwesome";
                color: $background-color;
                font-weight: 600;
                font-size: $base-font-size * 1.1;

                content: "\f105";
                @include media(desktop) {
                  content: "\f107";
                }
              }
              &:checked {
                &::before {
                  content: "\f107";
                }
                + .dropdown {
                  @include media-max(mobile, tablet) {
                    display: inline-block;
                  }
                }
              }
            }
          }
          &:hover {
            .dropdown {
              @include media(desktop) {
                display: block;
              }
            }
          }
        }
        .divider {
          margin: 0px;
          padding: 0px;
          height: 0.5px;
          background-color: #ffffff4f;
          @include media(desktop) {
            height: 100%;
            width: 0px;
          }
        }
      }
    }
  }
}

.sn-collapse {
  transform: translateY(-200%);
  @include media(desktop) {
    transform: translateY(0);
  }
}
.sn-expand {
  transform: translateY(0%);
}
.nav-button {
  display: none;
  @include media-max(mobile, tablet) {
    right: $spacing-unit;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    position: absolute;
  }
  z-index: 9999;
}
.site-header-vignette {
  height: $spacing-unit * 1.865 * 3;
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  background-image: linear-gradient(rgb(0, 0, 0), transparent);
  display: block;
  transition: opacity 100ms, transform 1s;
}

.contact-form {
  border: 1px soild red;
  width: 40%;
  @include media-max(mobile) {
    width: 80%;
  }
  label {
    display: block;
  }
  input,
  textarea {
    width: 90%;
    display: block;
    padding: 8px;
    margin: 0 0 $spacing-unit 0;

    &[type="submit"] {
      background-color: $brand-color;
      color: $background-color;
      outline: none;
      border: none;
      border-radius: 5px;
      width: fit-content;
    }
  }
}

.google-map {
  width: 50%;
  @include media-max(mobile) {
    width: 100%;
  }
}

.sv-collapsed {
  opacity: 0;
}
.sv-expanded {
  opacity: 1;
}
.site-header-background {
  background-color: $background-color;
  height: $spacing-unit * 1.865 * 2;
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  opacity: 0;
  transform-origin: top left;
  transition: opacity 1s, transform 1s;
  pointer-events: none;
  z-index: 8888;
  @include media-max(mobile, tablet) {
    opacity: 1;
  }
}

.sh-collapsed {
  transform: scaleY(0.5);
  opacity: 1;
}
.sh-expanded {
  transform: scaleY(1);
  opacity: 0;
  @include media-max(mobile, tablet) {
    opacity: 1;
    transform: scaleY(0.5);
  }
}
.site-title {
  @include relative-font-size(1.625);
  background-color: $background-color;
  text-align: left;
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  position: absolute;
  margin: 0 0 0 (-$spacing-unit);
  z-index: 9999;
  @include media-max(mobile, tablet) {
    margin: 0;
  }
  transform-origin: top left;
  transition: transform 1s;
  &,
  &:visited {
    color: $grey-color-dark;
  }
  a {
    img {
      height: $spacing-unit * 1.865 * 2;
      width: auto;
    }
  }
}
.site-title-expanded {
  width: fit-content;
  @include media-max(mobile, tablet) {
    float: left;
    transform: scale(0.5);
  }
}

.site-title-collapsed {
  margin-bottom: 0;
  float: left;
  transform: scale(0.5);
}
/*.site-title::before {
  content: url("/assets/logo.png");
	display: inline-block;
	position: relative;
	width: 37px;
	top: 5px;
}*/

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;
  box-sizing: border-box;
  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-max(mobile, tablet) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  box-sizing: border-box;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  > li {
    display: table;

    > i {
      display: table-cell;
      padding: 8px;
      text-align: center;
    }
    > span {
      display: table-cell;
    }
  }
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  //padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.programmes-item {
  border: 1px solid black;
  width: 100%;
  padding: calc(#{$spacing-unit} / 2);
  box-sizing: border-box;
  .programme-image {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    @include media(desktop) {
      width: 100px;
      float: left;
      border-radius: 50px;
    }
  }
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  box-sizing: border-box;
  margin-left: calc(#{$spacing-unit} / -2);
  margin-right: calc(#{$spacing-unit} / -2);
  @include media(desktop) {
    margin-left: -$spacing-unit;
    margin-right: -$spacing-unit;
  }
}

.page-header-image {
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.post-title {
  position: absolute;
  bottom: 55vh;
  margin-left: $spacing-unit;
  font-weight: 700;
  color: $background-color;
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit;
  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
