$icomoon-font-family: "SNGCAS-M-Material" !default;
$icomoon-font-path: "fonts" !default;

$ic-arrow-left: "\e90b";
$ic-navigate-next: "\e90c";
$ic-navigate-before: "\e90d";
$ic-reset-to-screen: "\e90e";
$ic-zoom-out: "\e90f";
$ic-zoom-in: "\e910";
$ic-send: "\e911";
$ic-close: "\e909";
$ic-menu: "\e90a";
$ic-location: "\e900";
$ic-email: "\e901";
$ic-website: "\e902";
$ic-arrow-right: "\e903";
$ic-arrowhead-left: "\e904";
$ic-arrowhead-down: "\e905";
$ic-instagram: "\e906";
$ic-facebook: "\e907";
$ic-phone: "\e908";

