$icomoon-font-family: "SNGCAS-M-Material" !default;
$icomoon-font-path: "fonts" !default;

$ic-location: "\e900";
$ic-email: "\e901";
$ic-website: "\e902";
$ic-arrow-right: "\e903";
$ic-arrowhead-left: "\e904";
$ic-arrowhead-down: "\e905";
$ic-instagram: "\e906";
$ic-facebook: "\e907";
$ic-phone: "\e908";

