input,
textarea {
  width: 100%;
  display: block;
  padding: 8px;
  margin: 0 0 $spacing-unit 0;
  box-sizing: border-box;
  resize: vertical;
  font-size: $base-font-size;
 
}
button{
    padding: 8px;
    &[type="submit"] {
        line-height:$base-line-height;
vertical-align:middle;
        background-color: $brand-color;
        color: $background-color;
        outline: none;
        border: none;
        border-radius: 5px;
        width: fit-content;
        font-size: $base-font-size;
        i{
            
            display: inline;
            margin-right: calc(#{$spacing-unit} /2 );
            vertical-align:middle;
        }
        font-family: $base-font-family;
      }
}
.prefixed-input {
  display: block;
  position: relative;
  input {
    display: inline;
    padding-left: $base-font-size * 2;
  }
  span {
    display: block;
    padding: 2px 0 0 8px;
    left: 0;
    position: absolute;
    color: $grey-color;
  } 
}