---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/**
* home css
*/
.head-carousel {
    background-image: url("/assets/college.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    @include media-max(mobile){
      height: 400px;
      background-image: url("/assets/college-mob.jpg");
    }
    margin: 0 -$spacing-unit  0 -$spacing-unit ;
  }
@keyframes marquee{
    0% {transform: translateX(100%)}
    100% {transform: translateX(-100%)}
  }
  .marquee {
    animation-name: marquee;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    &:hover {
        animation-play-state: paused;
      }
  }
  .marquee-strip {
    background-color: $brand-color-secondary;
    padding: 2px 8px 2px 8px;
    color: white;
  overflow-x: hidden;
  margin: 0 $spacing-unit * -1 0 $spacing-unit * -1 ;
  }